.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-popup {
  display: none;
}

:root {
  --basic-gray: #eeeeee;
  --basic-gray-text: #333333;
  --basic-gray-light: #f2f2f2;
  --gray-active: #bdbbbc;
  --gray-hover: #ebebeb;
  --gray-icon: #a9a9a9;
  --basic-blue-light: #81b3d2;
  --basic-blue: #669ec0;
  --basic-blue-dark: #5496bd;
  --basic-brown-light: #766357;
  --basic-brown: #604e43;
  --basic-brown-dark: #503e33;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-white-opacity-max: rgba(255, 255, 255, 0.9);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --shadow: rgba(0, 1, 1, 0.2);
  --border: #e5e5e5;
}

body {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--basic-gray);
  box-shadow: 0px 5px 15px var(--shadow);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Navigation */

.main-header {
  position: relative;
  background-color: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 531px;
  z-index: 1;
}

.main-nav {
  line-height: 26px;
  background-color: var(--basic-white);
  width: 100%;
  height: 56px;
  text-align: center;
  font-weight: bold;
  display: flex;
}

.main-nav a:not(.nav-selected) {
  color: var(--basic-black);
}

.main-nav ul {
  display: flex;
}

.site-navigation li {
  margin: 15px 72px;
}

.site-navigation li:nth-child(3) {
  margin-left: 338px;
}

.site-navigation ul,
.filter-group ul,
.hotel-items ul,
.filter-sorting ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.nav-selected {
  color: var(--basic-brown-light);
}

/* Main page */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--basic-white);
  text-align: center;
}

/* Main page image and title */

.main-title-container {
  min-height: 216px;
  width: 100%;
}

.main-background-image {
  background-color: var(--basic-brown-light);
  width: 1200px;
  height: 509px;
  position: relative;
}

.main-intro-image {
  position: absolute;
  width: 456.65px;
  height: 350.88px;
  top: 77px;
  left: 372px;
  outline-offset: -3px;
  z-index: 1;
}

.main-intro-mask {
  position: absolute;
  width: 1200px;
  height: 59px;
  bottom: -2px;
  z-index: 1;
}

.main-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
}

.main-title-reasons {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
}

/* Booking */

.main-booking-container {
  text-align: center;
  width: 1200px;
  background-color: var(--basic-white);
}

.main-booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 291px;
}

.booking-title {
  margin: 0;
  margin-top: 57px;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.booking-text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Features */

.feature-list {
  width: 1200px;
}

.feature-item {
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
}

.feature-row {
  display: flex;
}

.feature-highlight {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
}

.feature-highlight-title {
  margin: 0;
  margin-top: 50px;
}

.feature-highlight-number {
  margin: 0;
}

.feature-highlight-text {
  margin: 0;
  max-width: 301px;
  margin-bottom: 50px;
}

.feature-image {
  width: 800px;
  height: 256px;
}

.feature-white-list {
  background-color: var(--basic-white);
  min-height: 330px;
}

.feature-highlight-alt {
  background-color: var(--basic-gray);
  min-height: 256px;
}

.feature-white-list-text {
  margin: 0;
  max-width: 297px;
  margin-bottom: 60px;
}

.feature-icon-house {
  width: 72px;
  height: 75px;
  margin-top: 60px;
}

.feature-icon-burger {
  width: 75px;
  height: 70px;
  margin-top: 61px;
}

.feature-icon-gift {
  width: 77px;
  height: 64px;
  margin-top: 55px;
  margin-bottom: 10px;
}

/* Search form */
.hotel-search {
  position: relative;
}

.hotel-search-form {
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  position: absolute;
  z-index: 3;
}

.search-date-input {
  position: relative;
}

.search-date-input label {
  margin-right: 20px;
}

.search-date-input input {
  width: 346px;
  height: 38px;
  background-color: var(--basic-gray-light);
  border: none;
  box-sizing: border-box;
  padding: 6px 12px;
  text-transform: uppercase;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.search-date-input input::placeholder {
  color: var(--basic-black);
}

.search-date-input input:focus,
.search-date-input input:focus:hover {
  background-color: var(--basic-white);
  border: 2px solid var(--border);
  box-sizing: border-box;
}

.search-date-input input:hover {
  background-color: var(--gray-hover);
}

.calendar {
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 22px;
  top: 7px;
  right: 9px;
  fill: var(--gray-icon);
}

.calendar:hover {
  fill: var(--basic-black);
}

.calendar:active {
  fill: var(--basic-blue-light);
}

.search-persons-wrapper {
  display: flex;
  width: 80%;
  align-items: center;
}

.search-persons-wrapper label {
  margin-right: 40px;
}

.separator {
  margin-left: 40px;
}

.search-persons-control {
  width: 114px;
  height: 38px;
  background-color: var(--basic-gray-light);
  display: flex;
  justify-content: space-between;
}

.search-persons-control input {
  width: 38px;
  border: none;
  background-color: var(--basic-gray-light);
  text-align: center;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: right;
}

.search-persons-control input::placeholder {
  color: var(--basic-black);
  text-align: right;
}

.search-persons-button {
  width: 38px;
  height: 38px;
  border: none;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  cursor: pointer;
  background-color: var(--basic-gray-light);
  color: var(--gray-icon);
}

.search-persons-button:hover {
  color: var(--basic-black);
}

.search-persons-button:active {
  color: var(--basic-blue-light);
}

.search-button {
  width: 458px;
  height: 58px;
  border: none;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-gray-light);
}

/* Hotels */

.filter-background {
  background-image: url(../img/background_filter.jpg);
  width: 1200px;
  height: 217px;
  z-index: -1;
}

.filter-selectors {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.filter-group-wrapper {
  display: flex;
  margin-top: 26px;
  margin-left: 71px;
}

.filter-group {
  border: none;
  color: var(--basic-white);
  padding: 0;
}

.filter-group:first-child {
  margin-right: 118px;
}

.filter-group li {
  margin: 24px 0;
}

.filter-group label {
  cursor: pointer;
}

.filter-group legend {
  font-weight: bold;
  font-size: 16px;
}

.filter-checkbox-row {
  padding-left: 1.2em;
  display: flex;
  align-items: center;
}

.filter-checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.filter-checkbox {
  position: absolute;
  width: 1em;
  height: 1em;
  background-image: url(/img/svg/checkbox-off.svg);
  background-size: 1em 1em;
  margin-left: -1.2em;
  z-index: 1;
}

.filter-checkbox-input:checked + .filter-checkbox {
  background-image: url(/img/svg/checkbox-on.svg);
}

.filter-sorting-container {
  background-color: var(--basic-white);
  display: flex;
  align-items: center;
  min-height: 86px;
  border-bottom: 1px solid var(--border);
}

.filter-results-count {
  margin-left: 73px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.filter-results-direction {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 34px;
  margin-left: 501px;
}

.sorting-arrow {
  height: 11px;
  width: 10px;
}

.sorting-arrow path {
  fill: var(--basic-black-opacity);
}

.sorting-arrow:hover path {
  fill: var(--basic-black);
}

.sorting-arrow-selected path,
.sorting-arrow:active path {
  fill: var(--basic-blue-light);
}

.filter-sorting {
  display: flex;
  margin-left: 46px;
}

.filter-values {
  display: flex;
  align-items: center;
}

.filter-value a {
  color: var(--basic-black-opacity);
  border-bottom: 1px dashed var(--basic-blue-light);
  margin-left: 30px;
}

.filter-value-selected a {
  color: var(--basic-blue-light);
  margin-left: 30px;
}

.filter-value a:hover,
.filter-value a:focus {
  color: var(--basic-blue-light);
}

.filter-value a:active {
  color: var(--basic-black);
}

.hotel-items {
  background-color: var(--basic-white);
}

.hotel-items h3 {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 149px;
  border-bottom: 1px solid var(--border);
}

.hotel-image {
  margin: 30px 0;
  margin-left: 73px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
}

.hotel-description-column-wrapper {
  display: flex;
}

.hotel-description-column-left {
  margin-right: 6px;
}

.hotel-description-name {
  margin: 0;
  margin-top: 23px;
}

.hotel-description-text {
  padding: 0px;
  margin: 0px;
  margin-top: 7px;
  margin-bottom: 18.5px;
}

.hotel-description-name:hover {
  color: var(--basic-blue-light);
}

.hotel-description-name:active {
  color: var(--basic-black-opacity);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 522px;
  margin-top: 29px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-gray-light);
  width: 110px;
  height: 27px;
  margin-top: 40px;
}

/* Price range */

.filter-range {
  width: 330px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin-top: 26px;
  margin-right: 73px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-white-opacity);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: var(--gray-active);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: var(--basic-blue-dark);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-white);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: var(--basic-black);
  background: var(--basic-white);
}

/* Button */

.button-blue {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
}

.button-blue:hover,
.button-blue:focus {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-blue:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-blue-dark);
}

.button-brown {
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
}

.button-brown:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-brown:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-brown-dark);
}

.button-hotels {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 0;
  display: inline-block;
  vertical-align: top;
  min-width: 568px;
}

.button-hotel-description {
  padding: 4px 16px;
  font-weight: bold;
}

/* Footer */

.main-footer {
  min-height: 120px;
  position: relative;
}

.map {
  z-index: -1;
  width: 1200px;
  height: 594px;
}

.main-footer-links {
  width: 100%;
  min-height: 120px;
  background-color: var(--basic-white-opacity-max);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-links {
  width: 100%;
  min-height: 120px;
  background-color: var(--basic-white-opacity-max);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

.social-list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  height: 48px;
  width: 48px;
  background-color: var(--basic-blue-light);
}

.social-list .item:last-child {
  margin-right: 0px;
}

.social-list .item:hover {
  background-color: var(--basic-blue);
}

.social-list .item:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-blue-dark);
}

.contacts a {
  color: var(--basic-black);
}

.contacts p {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts p:first-child {
  margin-bottom: 9px;
}

.academy {
  display: flex;
}

.academy-logo {
  height: 41px;
  width: 115px;
}

.academy-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-right: 8px;
  padding-top: 10px;
}

.academy-logo:hover path {
  fill: var(--basic-blue-light);
}

.academy-logo:active path {
  fill: var(--gray-active);
}
