.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-popup {
  display: none;
}

:root {
  --basic-gray: #eeeeee;
  --basic-gray-text: #333333;
  --basic-gray-light: #f2f2f2;
  --gray-active: #bdbbbc;
  --basic-blue-light: #81b3d2;
  --basic-blue: #669ec0;
  --basic-blue-dark: #5496bd;
  --basic-brown-light: #766357;
  --basic-brown: #604e43;
  --basic-brown-dark: #503e33;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
}

body {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0 20px;
  min-width: 1280px;
  background-color: var(--basic-gray);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Navigation */

.header {
  background-color: transparent;
}

.main-nav ul {
  list-style-type: none;
}

.nav-main {
  line-height: 26px;
  background-color: var(--basic-white);
  text-align: center;
  font-weight: bold;
}

.nav-main a:not(.nav-selected) {
  color: var(--basic-black);
}

.nav-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-main a:hover,
.nav-main a:focus {
  color: var(--basic-blue);
}

.nav-main a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.main-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.nav-selected {
  color: var(--basic-brown-light);
}

/* Features */

.feature-list {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

/* Hotels */

.hotel-items {
  background-color: var(--basic-white);
}

.hotel-items h3 {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.raiting {
  text-align: center;
  background-color: var(--basic-gray-light);
  width: 110px;
  height: 27px;
  padding: 3px 12px 3px 15px;
}

/* Booking */

.booking {
  text-align: center;
  background-color: var(--basic-white);
}

.booking-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.booking-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Button */

.button-blue {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
}

.button-blue:hover,
.button-blue:focus {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-blue:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-blue-dark);
}

.button-brown {
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
}

.button-brown:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-brown:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-brown-dark);
}

.button-hotels {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 125px;
  display: inline-block;
}

.button-more {
  padding: 3px 16px 3px 17px;
}

.button-book {
  padding: 3px 17px 3px 16px;
}

/* Footer */

.footer {
  background-color: var(--basic-white);
}

.social-list {
  display: flex;
  list-style-type: none;
}

.social-list li {
  margin-right: 6px;
  height: 48px;
  width: 48px;
  background-color: var(--basic-blue-light);
}

.social-list li:hover {
  background-color: var(--basic-blue);
}

.social-list li:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-blue-dark);
}

.twitter {
  margin-top: 16px;
  margin-left: 15px;
  margin-right: 14px;
  margin-bottom: 15px;
}

.fb {
  margin: 13px 17px;
}

.youtube {
  margin: 16px 13px;
}

.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts a {
  color: var(--basic-black);
}

.academy-logo {
  height: 41px;
  width: 115px;
}

.academy-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.academy-logo:hover path {
  fill: var(--basic-blue-light);
}

.academy-logo:active path {
  fill: var(--gray-active);
}
